black==21.11b1
flake8==4.0.1
h5py==3.6.0
ipywidgets==7.6.5
jupyter==1.0.0
jupyterlab==3.2.4
matplotlib==3.5.0
numpy==1.21.4
pandas==1.3.4
papermill==2.3.3
pillow==8.4.0
pydash
pydot==1.4.2
pytest==6.2.5
RISE==5.7.1
virtualenv==20.10.0
